*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nome,
#cognome,
#colore-preferito,
#password-insicura,
#password-sicura{
    border: 2px solid rgb(139, 220, 19);
    height: 50px;
    border-radius: 10px;
}

body{
    background-color: dimgray;
}

span{
    text-transform: capitalize;
}

.password-insicura{
    color: red;
}

.password-sicura{
    color: rgb(11, 195, 11);
    text-transform: capitalize;
}

